<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-white">
      <h6 class="navbar-text px-5"><i class="fa-solid fa-copyright"></i> 2024 Jackson Barker</h6>
    </nav>
    </footer>
</body>
</html>